archive
node_modules
package-lock.json
dist/
target/
.idea/
settings.json
default.json
sync-config.json
sync-config-prod.json
sync-settings.json
sync-settings-prod.json
serviceAccountKey.json
trustStore
conf/sync-config.json
*/node_modules
dev-dist/
jetty/
nginx/
out/

client/**/*.js
client/**/*.map